.toast {
  pointer-events: all;
  position: relative;
  background-color: #FFF;
  border-radius: 30px;
  height: 80px;
  width: 500px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  font-size: 24px;
  font-weight: 600;
  align-self: center;
}

.icon {
  position: absolute;
  right: 30px;
}

@media (max-width:1919px) {
  .toast {
    border-radius: 20px;
    height: 60px;
    width: 400px;
  }
  .text {
    font-size: 20px;
  }
  .icon {
    right: 20px;
  }
}