.container {
  cursor: pointer;
  user-select: none;
  background-color: #F0F0F0;
  height: 80px;
  width: 80px;
  border-radius: 30px;
  display: flex;
  position: relative;
}

.container:nth-child(8) {
  grid-row: 2 / 4 ;
  grid-column: 4 / 4 ;
  height: 170px;
}

.container:nth-child(15) {
  
  background-color: #8266BD;
}

.key {
  color: #777777;
  margin: auto;
  font-size: 40px;
  font-weight: 400;
  font-family: 'Inter';
}
.icon {
  position: absolute;
  top: 22px;
  left: 22px;
  height: 36px;
  width: 36px;
}

.container:hover {
  background-color: #DAD9D9;
}
.container:nth-child(15):hover {
  background-color: #5B4885;
}

@media (max-width: 1919px) {
  .container {
    height: 60px;
    width: 60px;
    border-radius: 20px;
  }
  .container:nth-child(8) {
    height: 130px;
  }
.key {
  font-size: 30px;
}
.icon {
  top: 18px;
  left: 18px;
  height: 24px;
  width: 24px;
}
}