.container {
  pointer-events: all;
    position: relative;
    background-color: #FFF;
    border-radius: 30px;
    height: 80px;
    width: 500px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    
  }
  
  .code {
    align-self: center;
  }
  
  .icon {
    position: absolute;
    right: 30px;
    display: flex;
    justify-content: center;
  }

@media (max-width: 1919px) {
  .container {
      border-radius: 20px;
      height: 60px;
      width: 400px;
      font-size: 20px;
    }
  .icon {
    position: absolute;
    right: 20px;
  }
  
}